# Ansible
*.retry
*.swp
.molecule/
.cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Testing
tests/.pytest_cache/
.tox/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db