---
- name: Create notification script
  template:
    src: notification-script.sh.j2
    dest: "{{ safetyscan_bin_dir }}/safetyscan-notify.sh"
    mode: '0755'
  when: safetyscan_enable_notifications | bool

- name: Test notification (optional)
  command: "{{ safetyscan_bin_dir }}/safetyscan-notify.sh test"
  register: notification_test
  changed_when: false
  failed_when: false
  when:
  - safetyscan_enable_notifications | bool
  - ansible_check_mode is not defined or not ansible_check_mode
