---
- name: Install Python (Debian/Ubuntu)
  apt:
    name:
    - "{{ python_package }}"
    - "{{ python_pip_package }}"
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install Python (RedHat/CentOS/Fedora)
  yum:
    name:
    - "{{ python_package }}"
    - "{{ python_pip_package }}"
    state: present
  when: ansible_os_family == "RedHat"

- name: Install Python (Arch Linux)
  pacman:
    name:
    - "{{ python_package }}"
    - "{{ python_pip_package }}"
    state: present
  when: ansible_os_family == "Archlinux"

- name: Verify Python installation
  command: python3 --version
  register: python_version
  changed_when: false

- name: Display Python version
  debug:
    msg: "Python installed: {{ python_version.stdout }}"

- name: Install jq for JSON parsing
  package:
    name: "{{ jq_package }}"
    state: present
  when: safetyscan_install_jq | bool
